[package]
name = "pkgbob"
description = "A pkgsrc package builder"
version = "0.0.6"
authors = ["Jonathan Perkin <jonathan@perkin.org.uk>"]
keywords = ["cli", "pkgsrc"]
license = "ISC"
repository = "https://github.com/jperkin/bob"
homepage = "https://github.com/jperkin/bob"
documentation = "https://docs.rs/pkgbob"
rust-version = "1.74.0"
edition = "2021"

[[bin]]
name = "bob"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.89"
clap = { version = "4.5", features = ["derive"] }
crossterm = "0.28"
ctrlc = "3.4"
dirs = "5.0.1"
glob = "0.3"
mlua = { version = "0.10", features = ["lua54", "vendored", "send"] }
petgraph = "0.6.5"
pkgsrc = "0.4.0"
ratatui = "0.29"
rayon = "1.10.0"
rust-embed = "8.7.0"
thiserror = "1.0.64"
tracing = "0.1"
tracing-appender = "0.2"
tracing-subscriber = { version = "0.3", features = ["json", "env-filter"] }
