#
# Generic configuration file for unsupported systems.  Does not provide an
# example [sandboxes] section as it is highly OS-specific.
#

#
# General configuration variables.
#
[options]
build_threads = 4
scan_threads = 4
verbose = true

#
# Variables that configure pkgsrc, where it is, what packages to build, etc.
#
[pkgsrc]
basedir = "/usr/pkgsrc"
make = "/usr/pkg/bin/bmake"
pkgpaths = [
	"mail/mutt",
	"sysutils/coreutils",
]

#
# Shell scripts used for different stages.  Values are filenames (relative
# to the directory that the config was loaded from if not absolute) that will
# be read in.
#
[scripts]
pkg-scan = "scripts/pkg-scan"
pkg-build = "scripts/pkg-build"
